// navbar
.nav-container{
        a{
            img{
                max-width: 15%;
                width: auto;
                height: auto;
                overflow: hidden;
            }
        }
    .nav-item{
        margin-top: -50px;
        overflow: hidden;
    }
}