// navbar
.nav-container{
        a{
            img{
                max-width: 20%;
                width: auto;
                height: auto;
                overflow: hidden;
            }
        }
   ul {
       li{
           padding-left: 10px;
           padding-right: 10px;
       }
   }
}