// navbar
.nav-container{
        a{
            img{
                max-width: 20%;
                width: auto;
                height: auto;
                overflow: hidden;
            }
        }
   
}