.section-bg-cover{
    background-image: url("/img/success-story.jpg");

    h2{
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: white;
        margin: 0;
        padding: 10px;
        font-weight: bold;
    }
    p{
        padding: 10px;
        margin: 0;
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: white;
        font-weight: bold;
    }
}